@import url("https://fonts.googleapis.com/css?family=Open+Sans:300|Playfair+Display:700&display=swap&subset=latin-ext");

html {
  font-family: "Open Sans", sans-serif;
  font-size: 1rem;
  box-sizing: border-box;
}

*,
::after,
::before {
  box-sizing: inherit;
}

body {
  background-color: #ffefef;
}

h1,
h2 {
  font-family: "Playfair Display", serif;
}

h1 {
  text-align: center;
  font-size: 1.5rem;
}

.logo img {
  display: block;
  margin: 0 auto 10px auto;
  width: 10rem;
  height: 5rem;
}

.welcome,
.selected_meals {
  text-align: center;
  font-size: 1rem;
}

.square_pictures {
  display: flex;
  justify-content: space-evenly;
}

.square_pictures img {
  width: 33%;
  margin: 10px;
}

.main_menu {
  background-color: #ffffff;
  margin: 2rem;
  padding-left: 2.5rem;
  padding-right: 2.5rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.description {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.description p {
  width: 45%;
  font-size: 1rem;
}

.dishes {
  overflow: auto;
  margin-top: 2rem;
}

.display_menu {
  background-color: #ffefef;
  margin-top: 1.5rem;
  padding: 0.6rem;
}

.salmon,
.melancholy {
  float: left;
  width: 18rem;
  height: 18rem;
  margin-right: 6rem;
}

.salmon_description,
.melancholy_description {
  text-align: left;
}

.tagliatelle {
  float: right;
  width: 18rem;
  height: 18rem;
  margin-left: 6rem;
}

.tagliatelle_description {
  text-align: right;
}

footer {
  text-align: center;
  margin: 3rem;
}

@media screen and (min-width: 100px) and (max-width: 350px) {
  .salmon,
  .tagliatelle,
  .melancholy {
    clear: both;
    width: 8rem;
    height: 8rem;
  }
  .description p {
    width: 100%;
    font-size: 1rem;
  }
}
